<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925925350485-hb7d7s80vdub0gkojto632nluq0u5l1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925925350485-hb7d7s80vdub0gkojto632nluq0u5l1o</string>
	<key>API_KEY</key>
	<string>AIzaSyAI-7CbBE0G3BakcTqCBuuDN4hT5QGDuDk</string>
	<key>GCM_SENDER_ID</key>
	<string>925925350485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cnepho.mad</string>
	<key>PROJECT_ID</key>
	<string>mad-app-30a25</string>
	<key>STORAGE_BUCKET</key>
	<string>mad-app-30a25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925925350485:ios:14973e88be0608e05c48dc</string>
</dict>
</plist>